body {
    text-align: center;
  }
  
.carousel-control-next-icon {
    background-color: black;
    border-radius: 5px;
    width: 1.5rem;
    height: 4rem;
  }
  .carousel-control-prev-icon {
    background-color: black;
    border-radius: 5px;
    width: 1.5rem;
    height: 4rem;
  }

.carousel-indicators li {
    background-color: black;
}